<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- OS / Network Level Capabilities -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- OTG Mouse/Keyboard Hardware Detection -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <application
        android:name=".OmakDroidApp"
        android:hasFragileUserData="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:label="OmakDroid"
        android:theme="@style/Theme.OmakDroid">

        <activity
            android:name="id.xms.omakdroid.feature.installer.BiosInstallerActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.OmakDroid.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.action.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="id.xms.omakdroid.feature.desktop.DesktopActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:lockTaskMode="if_whitelisted">
            
            <layout
                android:defaultWidth="1000dp"
                android:defaultHeight="600dp" />
                
        </activity>
    </application>

</manifest>
